@charset "UTF-8";
/* ---------------------------- general ---------------------------- */
a {
	color: inherit;
	text-decoration: inherit;
}

/* --------------------------- remove components for sp ---------------------------- */
.sp {
	display: none;
}

/* ---------------------------- body ---------------------------- */
body {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	line-height: 1.6;
	background-color: #EEEEEE;
	display: flex;
	flex-direction: column;
}

/* ---------------------------- header ---------------------------- */
header {
	height: 60px;
	padding: 20px;
	background-color: #AA2222;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

h1 {
	padding: 0 0 0 30px;
	margin: auto 0;
	font-size: 40px;
	font-family: 'Helvetica', sans-serif;
	font-weight: bold;
	color: #FFFFFF;
}

#header_nav ul {
	list-style: none;
	display: flex;
	flex-direction: row;
}

#header_nav li {
	padding: 0 20px;
	font-size: 20px;
	font-family: 'Helvetica', sans-serif;
	font-weight: bold;
	color: #FFFFFF;
}

/* ---------------------------- main ---------------------------- */
main {
	padding: 30px 30px;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

/* ---------------------------- sidebar ---------------------------- */
#sidebar {
	width: 20vw;
	flex-shrink: 0;
}

#sidebar_padding {
	padding: 0;
	position: sticky;
	top: 20px;
}

#sidebar_title {
	padding: 10px 15px;
	margin: 0;
	background-color: #AA2222;
	border-radius: 5px 5px 0 0;
	font-size: 20px;
	font-family: 'Helvetica',sans-serif;
	font-weight: bold;
	color: #FFFFFF;
}

#sidebar_content {
	padding: 10px;
	margin: 0 0 15px 0;
	background-color: #FFDDDD;
	border-radius: 5px 5px 0 0;
	font-size: 20px;
	font-family: 'Helvetica',sans-serif;
	font-weight: bold;
	color: #000000;
}

#sidebar_content ul {
	padding: 0;
	margin: 0 0 1em 0;
}

#sidebar_content li {
	padding: 5px 0;
	margin: 0;
	list-style: none;
}

/* ---------------------------- section ---------------------------- */
#all_sections {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.content_container {
	padding: 20px 20px;
	flex-grow: 1;
}

section {
	padding: 10px 10px;
	background-color: #FFFFFF;
	border: 5px #AA2222 solid;
	border-radius: 15px 15px 15px 15px;
}

section h2 {
	padding: 0;
	margin: 0;
	font-size: 32px;
	font-family: 'Helvetica',sans-serif;
	font-weight: bold;
	border-bottom: 3px solid #666666;
}
section h3 {
	padding: 20px 0 0 0;
	margin: 0;
	font-size: 26px;
	font-family: 'Helvetica',sans-serif;
	font-weight: bold;
}

section p {
	padding: 0;
	margin: 0;
	font-size: 20px;
	font-family: sans-serif;
}

section a {
	color: #0000EE;
	text-decoration: underline;
}

section a:visited {
	color: #BB00BB;
	text-decoration: underline;
}

section ul {
	padding: 0 0 0 20px;
	margin: 0;
	font-size: 20px;
	font-family: 'Helvetica',sans-serif;
}

section li {
	padding: 15px 0 0 0;
	margin: 0;
}

section table {
	padding: 0;
	margin: 0;
	border-spacing: 0.5rem 0;
	vertical-align: top;
	font-size: 20px;
	font-family: sans-serif;
}

section td {
	text-align: left;
	vertical-align: top;
}

.paragraph {
	padding: 5px 0 0 0;
	text-indent: 1rem;
}

figure {
	display: table;
}

figcaption {
	display: table-caption;
	caption-side: bottom;
}


/* ---------------------------- footer ---------------------------- */
footer {
	padding: 20px;
	font-size: 20px;
	font-family: 'Helvetica',sans-serif;
	height: 40px;
	text-align: center;
	background-color: #AA2222;
	color: #FFFFFF;
}


/* ---------------------------- media queries ---------------------------- */
/* ---------------------------- tablets ---------------------------- */
@media screen and (max-width: 1279px) {

	/* ---------------------------- header ---------------------------- */
	header {
		height: 40px;
	}

	h1 {
		padding: 0 0 0 20px;
		font-size: 30px;
	}

	#header_nav li {
		padding: 0 20px 0 5px;
		font-size: clamp(0.875rem, -0.054rem + 1.63vw, 1.25rem)/*14-20px*/;
	}

	/* ---------------------------- main ---------------------------- */
	main {
		padding: 20px;
	}

	/* ---------------------------- sidebar ---------------------------- */
	#author_comment h2 {
		font-size: 30px;
	}

	#author_comment p {
		font-size: 18px;
	}

	/* ---------------------------- section ---------------------------- */
	section h2 {
		font-size: 30px;
	}

	section h3 {
		font-size: 24px;
	}

	section p {
		font-size: 18px;
	}

	section ul {
		font-size: 18px;
	}

	section table {
		font-size: 18px;
	}

	/* ---------------------------- footer ---------------------------- */
	footer {
		font-size: 18px;
		height: 18px;
	}
}

/* ---------------------------- smartphone ---------------------------- */
@media screen and (max-width: 911px) {
	/* ---------------------------- remove components for pc and display those for sp ---------------------------- */
	.pc {
		display: none;
	}

	.sp {
		display: block;
	}

	/* ---------------------------- header ---------------------------- */
	header {
		height: 30px;
	}

	h1 {
		padding: 0 10px 10px 20px;
		font-size: 20px;
	}

	.hamburger-appearance {
		display: flex;
		flex-direction: column;
		gap: .7em;
		width: fit-content;
		margin: 0 0 0 auto;
	}

	.hamburger-appearance span {
		display: block;
		width: 50px;
		height: 5px;
		background: #000000;
		border-radius: 100vh;
	}

	#hamburger-btn {
		display: none;
	}

	.hamburger-content {
		position: fixed;
		right: -100%;
	}

	#hamburger-btn:checked~.hamburger-content {
		right: 0;
	}

	#header_nav .hamburger-content ul {
		padding: 10px;
		margin: 10px 0;
		gap: 10px;
		background-color: #AA2222;
		flex-direction: column;
	}

	#header_nav .hamburger-content li {
		padding: 0 10px;
		margin: 10px 0;
		font-size: 20px;
	}

	/* ---------------------------- main ---------------------------- */
	main {
		flex-direction: column-reverse;
	}

	/* ---------------------------- sidebar ---------------------------- */
	#manga_cover_inside {
		width: 100%;
	}

	#author_comment p {
		font-size: 18px;
	}

	/* ---------------------------- section ---------------------------- */
	.content_container {
		padding: 10px;
	}

	section h2 {
		font-size: 20px;
		font-family: 'Meiryo', 'Yu Gothic', sans-serif;
		font-weight: bold;
		border-bottom: 3px solid #666666;
	}

	section h3 {
		font-size: 18px;
	}

	section p {
		font-size: 16px;
	}

	section ul {
		font-size: 16px;
	}

	section table {
		font-size: 16px;
	}
	
	/* ---------------------------- footer ---------------------------- */
	footer {
		font-size: 12px;
		height: 12px;
	}
}